<table class='table table-striped table-hover'>
			<tr>
				<th> Organization Id </th>
				<th> Organization Name </th>
				<th> Group Id </th> 
				<th> Group Name </th>
				<th class='opth' colspan='2'> Action </th>
			</tr>

		<% @grp.each do |s| %>
			<tr>
				<td> <%= @org.id %> </td>
				<td> <%= @org.name %> </td>
				<td> <%= s.id %> </td>
				<td> <%= s.name %> </td>
				<td class='optd'> <a href='/grpedit/<%= s.id %>' title='Click to Edit the Group' > <img src='assets/tab_edit.png'> </a> </td>
				<td class='optd1' id=<%= s.name %>> <%= link_to image_tag('/assets/delete.png', :class=> s.id, :id=> 'opdelete'),grpdestroy_path(:id => s.id), :title=>'Click to Delete the Group' %>  </td>
		</tr>
		<% end %>
		</table>
